<html>
<head>
<title>NM High Intensity ...</title>
</head>

<body>
    <div id="main">
          <div id="header">
                <div id="headerTitle">NMHIDTA Database</div>
        
            <div id="headerSubText">New Mexico High.................</div>
           
            </div>
    <div id="content">
    
    <div id="columnOnelogin">
    <div class="content">
        	<h1>Please login</h1><br />



<div id="user_nav">
<div id="user_nav_login">
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>

<% end %>

</div>


<%= form_tag sessions_path do %>
<p>
<%= label_tag :email %><br />
<%= text_field_tag :email, params[:email] %>
</p>
<p>
<%= label_tag :password %><br />
<%= password_field_tag :password %>
</p>
<p class="button"><%= submit_tag "Log in" %></p>
<% end %>

Already registered ?  <%= link_to "Sign Up", sign_up_path %>

</div>	
    </div>
  </div>


<div id="footer"><a href="http://www.nmhidta.org/contact.htm">contact us</a> or <a href="http://www.unm.edu">UNM Students</a></div>
        
   </div>
</body>
</html>



