<%= form_for(@database) do |f| %>
  <% if @database.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@database.errors.count, "error") %> prohibited this database from being saved:</h2>

      <ul>
      <% @database.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <table border="2" bordercolor="#000000" style="background-color:#FFFFFF" width="100%" cellpadding="3" cellspacing="3" >
	 <!-----------------First row of form---------------------------------> 
	<tr>
		<td style="text-align:center"> <h7> NM HIDTA ISC EVENT/SEIZURE REPORT</h7> <br/>
 			PLEASE E-MAIL TO NM INVESTIGATIVE SUPPORT CENTER<br/>
 						TELEPHONE: (575) 647-6900<br/>
 						nmisc@nmhidta.org  </td>
	</tr>
     <!-----------------Second row of form---------------------------------> 
	<tr>
		<td><%= f.label :seizing_taskforce %> <%= f.text_field :last_name %> 
		
		 <br/>  And still working from here.................. </td>
		   
		   
		   
		   
	</tr>
     <!-----------------Third row of form--------------------------------->
	<tr>
		<td>
  <div class="field">
    <%= f.label :last_name %> <%= f.text_field :last_name %> 
    <%= f.label :first_name %><%= f.text_field :first_name %>
  </div>

        </td>

	</tr>
	<tr>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
	</tr>
	<tr>
		<td>Table Cell</td>
	</tr>
</table>


  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :ssn %><br />
    <%= f.text_field :ssn %>
  </div>
  <div class="field">
    <%= f.label :fbin %><br />
    <%= f.text_field :fbin %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :other1 %><br />
    <%= f.text_field :other1 %>
  </div>
  <div class="field">
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :registration %><br />
    <%= f.text_field :registration %>
  </div>
  <div class="field">
    <%= f.label :other2 %><br />
    <%= f.text_field :other2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :road %><br />
    <%= f.text_field :road %>
  </div>
  <div class="field">
    <%= f.label :mile_marker %><br />
    <%= f.text_field :mile_marker %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :other3 %><br />
    <%= f.text_field :other3 %>
  </div>
  <div class="field">
    <%= f.label :other4 %><br />
    <%= f.text_field :other4 %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
