<div id="database_list">
<h1>Database</h1>

<table border '1"'>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Date_of_Birth</th>
    <th>Address</th>
    <th>Social_Security Number.</th>
    <th>FBI No.</th>
    <th>Picture</th>
    <th>Other1</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Owner</th>
    <th>Registration</th>
    <th>Other2</th>
    <th>City</th>
    <th>State</th>
    <th>Road</th>
    <th>Mile marker</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Other3</th>
    <th>Other4</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%  @databases.each do |database|  %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= link_to database.last_name, database  %></td>
    <td><%= link_to database.first_name, database %></td>
    <td><%= link_to database.dob, database %></td>
    <td><%= link_to database.address, database %></td>
    <td><%= link_to database.ssn, database %></td>
    <td><%= link_to database.fbin, database %></td>
    <td><%= link_to image_tag(database.picture, :class => 'list_image'), database %></td>
    <td><%= link_to database.other1, database %></td>
    <td><%= link_to database.make, database %></td>
    <td><%= link_to database.model, database %></td>
    <td><%= link_to database.year, database %></td>
    <td><%= link_to database.owner, database %></td>
    <td><%= link_to database.registration, database %></td>
    <td><%= link_to database.other2, database %></td>
    <td><%= link_to database.city, database %></td>
    <td><%= link_to database.state, database %></td>
    <td><%= link_to database.road, database %></td>
    <td><%= link_to database.mile_marker, database %></td>
    <td><%= link_to database.origin, database %></td>
    <td><%= link_to database.destination, database %></td>
    <td><%= link_to database.other3, database %></td>
    <td><%= link_to database.other4, database %></td>
    <td><%= link_to 'Show', database %></td>
    <td><%= link_to 'Edit', edit_database_path(database) %></td>
    <td><%= button_to 'Remove', database, method: :delete, data: { confirm: 'Want to remove from database?' } %></td>
  </tr>
<% end %>
</table>
</div>

<br />
<%= link_to 'New Entry', new_database_path %>
<%= link_to 'Home', homepage_path %>


