<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @database.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @database.first_name %>
</p>

<p>
  <b>Dob:</b>
  <%= @database.dob %>
</p>

<p>
  <b>Address:</b>
  <%= @database.address %>
</p>

<p>
  <b>Ssn:</b>
  <%= @database.ssn %>
</p>

<p>
  <b>Fbin:</b>
  <%= @database.fbin %>
</p>

<p>
  <b>Picture:</b>
  <%= @database.picture %>
</p>

<p>
  <b>Other1:</b>
  <%= @database.other1 %>
</p>

<p>
  <b>Make:</b>
  <%= @database.make %>
</p>

<p>
  <b>Model:</b>
  <%= @database.model %>
</p>

<p>
  <b>Year:</b>
  <%= @database.year %>
</p>

<p>
  <b>Owner:</b>
  <%= @database.owner %>
</p>

<p>
  <b>Registration:</b>
  <%= @database.registration %>
</p>

<p>
  <b>Other2:</b>
  <%= @database.other2 %>
</p>

<p>
  <b>City:</b>
  <%= @database.city %>
</p>

<p>
  <b>State:</b>
  <%= @database.state %>
</p>

<p>
  <b>Road:</b>
  <%= @database.road %>
</p>

<p>
  <b>Mile marker:</b>
  <%= @database.mile_marker %>
</p>

<p>
  <b>Origin:</b>
  <%= @database.origin %>
</p>

<p>
  <b>Destination:</b>
  <%= @database.destination %>
</p>

<p>
  <b>Other3:</b>
  <%= @database.other3 %>
</p>

<p>
  <b>Other4:</b>
  <%= @database.other4 %>
</p>


<%= link_to 'Edit', edit_database_path(@database) %> |
<%= link_to 'Back', databases_path %>
