<html>
<head>
<title>NM High Intensity ...</title>
</head>

<body>
    <div id="main">
          <div id="header">
                <div id="headerTitle">NMHIDTA Database</div>
                <%= image_tag("/design/header.jpg") %>
   			    <%= image_tag("/design/background.png") %>
            <div id="headerSubText">New Mexico High.................</div>
           
            </div>
    <div id="content">
    
    <div id="columnOne">
	    <h1><a href="#">Menu bar or not here -----=================</a></h1>
        <h3>------------</h3>

      <div class="content">
        	<p>Welcome Message.</p><br />



<desidn/blockquote>
 <li><a href=/Login.html>Login Link</a></li>
</design/blockquote>
 <li><a href=/request.html>Request Access</a></li>
 <li><a href=/databases>Database</a></li>
 <li><a href= index2.html.erb>Database</a></li>


        <p>We can design this page better later. this text is just for our base </p> 


<p></p>


</div>	
    </div>

    <div id="columnTwo">
    <h2>Shortcuts</h2>
    <div class="links">
    <ul>
		<li><a href="http://www.nmhidta.org">Home</a></li>
   		<li><a href="http://www.nmhidta.org">Contact</a></li>
     
    <h2>External Links</h2>
    <div class="links">
    <ul>
		<li><a href="http://www.google.com">Google</a></li>
   		<li><a href="http://www.yahoo.com">Yahoo</a></li>
           </ul>
    </div><br />
    
</p>
    
    
    </div>
    </div>


<div id="footer"><a href="http://www.nmhidta.org">contact us</a> or <a href="http://www.unm.edu">UNM Students</a></div>
        
   </div>
</body>
</html>




******below here is just for test purpose****

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>------------</h1>
<h1>Sample data:</h1>
<h1>------------</h1>


<div id="database_list">

<table border '1"'>

<% @databases.each do |database| %>
   <tr> <th><%= database.last_name %>
         <%= database.first_name %></th>
        <td><%= database.dob %></td> 
		<td><%= database.city %></span></td>
<td><div id="home">
    <%= image_tag(database.picture, :class => 'image1') %>
    </div></td>
    
    	<td><%= link_to 'More Info', database %></td>
  </tr>
    
</table>
</div>
<% end %>
