<!DOCTYPE html>
<html>
<head>
  <title>New Mexico High Intensity Drug Trafficing Area</title>
  <%= stylesheet_link_tag    "nmhidta", :media => "all" %>
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>